@keyframes gradient-glow {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

@mixin gradient-glow {
    animation: gradient-glow 5s infinite;
    animation-direction: alternate;
}

@keyframes slide-right {
    from {
        transform: translateX(var(--radix-toast-swipe-end-x));
    }

    to {
        transform: translateX(100%);
    }
}
