$white: #fff;
$white20: rgba(255 255 255 / 20%);
$white30: rgba(255 255 255 / 30%);
$white40: rgba(255 255 255 / 40%);
$white80: rgba(255 255 255 / 80%);
$dark-blue: #1b305a;
$grad-blue1: #1f3666;
$grad-blue2: #3258a6;
$pink: #a64271;
$grad-pink1: #4d1f34;
$grad-pink2: #662945;
$red: #ec5755;

$p15: 1rem;
$p12: 0.85rem;
$p10: 0.7rem;
$p20: 1.33rem;
$p25: 1.66rem;
$p30: 2rem;
