{
    "extends": [
        "airbnb",
        "airbnb-typescript",
        "airbnb/hooks",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:react/jsx-runtime",
        "plugin:@next/next/recommended"
    ],

    "parserOptions": {
        "project": ["./tsconfig.json"]
    },

    "rules": {
        "indent": "off",
        "@typescript-eslint/indent": [
            "error",
            4
        ],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "no-unused-vars": "off",
        "jsx-a11y/label-has-associated-control": [ 2, {
            "controlComponents": ["Field"],
            "depth": 3
        }]
    },

    "plugins": [
        "editorconfig"
    ]
}
