@import '../scss/variables.scss';

.chat-header {
    height: 65px;

    .settings-icon {
        display: inline-block;

        margin: 0 0 0 20px;

        line-height: 65px;

        opacity: 0.3;

        transition: opacity 0.3s;

        svg {
            vertical-align: middle;
        }

        &:hover,
        &:active {
            opacity: 1;
        }
    }

    .search-form {
        display: inline-block;
        font-size: $p12;

        input[type='text'] {
            box-sizing: border-box;
            width: 230px;
            height: 25px;
            margin: 0 0 0 191px;
            padding: 0 28px 0 8px;

            font-weight: 300;
            color: $white40;

            background-color: transparent;
            border: 1px solid $white30;
            border-radius: 10px;
            outline: 0;

            transition: color 0.3s, border 0.3s;

            &::placeholder {
                font-style: italic;
                color: $white30;
            }
        }

        .searchButton {
            cursor: pointer;

            width: 15px;
            margin: 0 0 0 -25px;
            padding: 0;

            color: $white30;
            vertical-align: middle;

            background: transparent;
            border: 0;
            outline: 0;

            transition: color 0.3s;
        }

        form {
            &:hover,
            &:active,
            &:focus-within {
                input[type='text'] {
                    color: $white80;
                    border: 1px solid $white80;
                }

                .searchButton {
                    color: $white80;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}

.chats-list {
    display: block;
    width: 500px;

    .chat-list-item {
        cursor: pointer;

        transform-origin: center center;

        overflow: hidden;
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: space-between;

        width: 460px;
        height: 90px;
        margin: 0 auto 10px;

        background: $white20;
        border: 1px solid $white30;
        border-radius: 20px;

        transition: box-shadow 0.3s, transform 0.3s, background 0.3s;

        &:hover {
            box-shadow: 0 0 7px $white40;
        }

        &.chat-list-item-active {
            transform: scale(107%, 107%);
            background: $white40;
        }

        .chat-list-image-container {
            overflow: hidden;
            flex-basis: 90px;
            flex-shrink: 0;
        }

        .chat-list-last-message {
            flex-basis: 260px;

            .chat-list-name {
                margin-bottom: 0.25rem;
            }

            .chat-list-message-preview {
                font-weight: 300;
            }
        }

        .chat-list-info {
            position: relative;

            width: 55px;
            height: 4.8rem;
            margin-top: -0.3rem;
            padding: 0 7px 0 0;

            font-weight: 300;
            color: $white80;

            .unread-counter {
                float: right;

                width: 1.5rem;
                height: 1.5rem;

                font-size: $p10;
                line-height: 1.5rem;
                text-align: center;

                border-radius: 1.5rem;

                transition: background 0.5s;

                &:not(:empty) {
                    background: $red;
                }
            }

            time {
                position: absolute;
                bottom: 0;
                left: 0;
                font-size: $p12;
            }
        }
    }
}
