@import 'scss/variables.scss';
@import 'scss/keyframes.scss';

.connestion-status-widget {
    position: absolute;
    top: 20px;
    right: 20px;

    font-size: $p12;
    font-weight: 200;
    line-height: $p12;
    vertical-align: middle;

    .connected {
        opacity: 0.5;

        &::after {
            content: ' ';

            display: inline-block;

            width: 0.8em;
            height: 0.8em;
            margin-left: 0.5em;

            background-color: $green;
            border-radius: 1em;
        }
    }

    .connecting {
        @include dots123;
    }

    .connecting,
    .connected,
    .disconnected {
        display: inline-block;
        animation: backInRight 1s;
    }

    * {
        vertical-align: middle;
    }

    svg {
        margin-left: 0.5em;
    }
}
