@import '../../scss/variables.scss';

form.styled-form {
    input[type='submit'] {
        cursor: pointer;
    }

    input {
        &[type='text'],
        &[type='password'],
        &[type='submit'] {
            box-sizing: border-box;
            padding: 0 1em;

            font-family: inherit;
            font-size: inherit;
            font-weight: 200;
            line-height: 2em;
            color: inherit;

            background: transparent;
            border: 1px solid $white40;
            border-radius: 1em;
            outline: 0;

            transition: border 0.2s, background 0.2s;

            &:hover,
            &:focus,
            &:active {
                border-color: $white80;
            }

            &.invalid {
                border-color: red;
            }
        }
    }

    input[type='submit']:hover,
    input[type='submit']:focus,
    input[type='submit']:active {
        background: $white40;
    }

    input[type='submit']:disabled {
        cursor: not-allowed;
        color: $white20;
        background: transparent;
        border-color: $white20;
    }

    label {
        cursor: pointer;

        display: grid;
        grid-template:
            'label field' min-content
            'error error' 0
            / 5em 1fr;
        gap: 1em;
        align-items: center;
        justify-content: center;
        justify-items: stretch;

        margin: 0 0 1em;

        font-weight: 200;
        text-align: left;

        .error-message,
        span:last-child {
            grid-area: error;

            font-size: $p12;
            line-height: 1em;
            color: $red;
            text-align: right;
            text-transform: lowercase;
        }
    }
}
