@import '../../scss/variables.scss';

.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;

    .auth-window {
        display: block;

        box-sizing: border-box;
        width: 480px;
        padding: 30px 60px;

        text-align: right;

        border: 1px solid $white40;
        border-radius: 20px;

        .form-title {
            margin: 0 0 1em;
        }

        .diff-auth-option-link {
            margin-top: 1.5em;
            font-weight: 200;
            text-align: right;
        }
    }
}
