@import 'scss/variables.scss';

.messenger {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 65px 1fr;
}

.chat-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 0 4px 0 17px;

    .settings-icon {
        opacity: 0.3;
        transition: opacity 0.3s;

        &:hover,
        &:active {
            opacity: 1;
        }
    }
}

.chat-window {
    position: relative;
    box-sizing: border-box;
    padding: 0 20px;

    .new-message-form {
        position: absolute;
        bottom: 0;
        left: 0;

        box-sizing: border-box;
        width: 100%;
        padding: 20px;

        input,
        textarea,
        button {
            resize: none;

            margin: 0;
            padding: 0;

            background: transparent;
            border: 0;
            outline: 0;
        }

        .new-message {
            box-sizing: border-box;
            width: 100%;
            padding: 10px 4em 10px 10px;

            font-family: inherit;
            font-size: $p15;
            font-weight: 200;
            color: $white40;

            backdrop-filter: blur(5px);
            border: 1px solid $white40;
            border-radius: 10px;

            transition: color 0.2s, border-color 0.2s, height 0.2s;

            &::placeholder {
                font-family: inherit;
                font-weight: 200;
                font-style: italic;
                color: $white40;
            }

            &:active,
            &:focus,
            &:hover {
                color: $white80;
                border-color: $white80;
            }

            & ~ * {
                position: relative;
            }
        }

        .new-message-send {
            cursor: pointer;

            // margin-left: -3em;
            position: absolute;
            right: 2.5em;
            bottom: 2.45em;

            color: $white40;
            vertical-align: middle;

            transition: color 0.2s;

            &:active,
            &:focus,
            &:hover {
                color: $white80;
            }

            &:disabled {
                color: $white20;
                cursor: default;
            }

            * {
                vertical-align: middle;
            }
        }
    }
}

.chats-list {
    display: block;
}
